.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 25px;
    width: 100%;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.25);
    background-color: #3d3d3d;
    height: 150px;

    .esquerda {
        display: flex;
        flex-direction: row;
        padding: 30px;
        color: #ffff;
        cursor: pointer;

        img {
            max-width: 110px;
            height: 100px;
            user-select: none;
            pointer-events: none;
            -webkit-user-drag: none;
        }

        a {
            font: 500 40px Style Script;
            color: #fff;
            line-height: 2.5;
            display: flex;
            justify-content: center;
            transition: transform 0.5s;
            cursor: pointer;
            text-decoration: none;
        }
    }

    .direita {
        display: flex;
        flex-direction: row;
        gap: 65px;
        padding: 30px;
        color: #ffff;
        cursor: pointer;
        a {
            font: 500 18px poppins;
            text-decoration: none;
            color: #fff;
        }
        a::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: -2px;
            width: 0;
            height: 2px;
            background-color: white;
            transition: width 0.3s ease-in-out;
        }
        a:hover::after {
            width: 100%;
        }
        a:hover {
            transform: scale(1.1);
        }
    }

    @media screen and (max-width: 850px) {
        .direita {
            display: none !important;
        }
    }
}
