.rodape {
    display: flex;
    flex-direction: column;
    background-color: #2A2A2A;
    width: 100%;


    .rodainfo1 {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin: 0px 100px 0px 30px;
        padding: 30px;

        p {
            font: 300 24px poppins;
            color: #ffff;
        }

        .imagens {
            display: flex;
            gap: 35px;

            img{
                width: 40px;
                height: 40px;
            }
        }
    }

    .RiscoBranco {
        border: 1px solid #787878;
    }

    .meioRodape {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content:space-evenly;
        margin: 50px 0px;

        .esquerda {
            display: flex;
            flex-direction: column;
            text-align: center;
            gap: 5px;

            h1 {
                font: 600 25px poppins;
                color: #ffff;
            }

            a {
                text-decoration: none;
                color: #ffff;
                font: 200 18px poppins;
            }

            a:hover {
                color: #2980B9;
            }

        }

        .meio {
            display: flex;
            flex-direction: column;
            text-align: center;
            gap: 5px;

            h1 {
                font: 600 25px poppins;
                color: #ffff;
            }

            a {
                text-decoration: none;
                color: #ffff;
                font: 200 18px poppins;
            }

            a:hover {
                color: #2980B9;
            }

        }

        .direita {
            display: flex;
            flex-direction: column;
            text-align: center;
            gap: 5px;

            h1 {
                font: 600 25px poppins;
                color: #ffff;
            }

            a {
                text-decoration: none;
                color: #ffff;
                font: 200 18px poppins;
            }

            a:hover {
                color: #2980B9;
            }

            p {
                font: 400 16px poppins;
                color: #ffff;
                font: 300 15px poppins;
            }

            p:hover {
                color: #2980B9;
            }
        }
    }

    .reta {
        display: flex;
        flex-direction: row;
        justify-content: center;

        .RiscoBranco2 {

            width: 1400px;
            border: 1px solid #787878;
        }
    }

    #fimRodape {
        padding: 20px;
        text-align: center;
        font: 400 18px poppins;
        color: #ffff;
    }

    @media screen and (max-width: 900px) {
        .imagens{
            display: none !important; 
        }
    }

}