.secao-servicos{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    background-color: #3D3D3D;
    min-height: 100vh;
    
    .texto{
        display: flex;
        flex-direction: row;
        gap: 15px;
        padding: 20px;
        h1{
            color: #fff;
            font: 500 45px poppins;
        }
        #textoAzul{
            color: #2980B9;
        }
    }

    h2{
        font: 200 25px poppins;
        color: #FFFFFF80; 
    }

    .cards{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 50px;
        padding: 90px;
    }
}